/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: Arial,sans-serif;
    font-size: 15px;
}
h1, h2,h3,h4
{
    color: #444;
}
h1
{
    font-family: 'Crete Round', serif;
    font-size: 45px;
}
h2
{
    font-size: 55px;
}
h3
{
    font-size: 30px;
}
h4
{
    font-size: 24px;
}
p
{
    line-height: 20px;
    color: #777;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: #444;
}
.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.orange
{
    color: #ff7a00;
}
.clear
{
    clear: both;
}
small
{
    font-size: 13px;
    font-style:italic;
}


header
{
    height: 120px;
}
header h1
{
    float: left;
    margin-top: 32px;
}
header nav
{
    float: right;
    margin-top: 50px;
}
header nav ul li
{
    float:left;
    display: inline-block;
}
header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}


#main-image
{
    height: 580px;
    background: url('images/main.jpg') center;
}
#main-image h2
{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
}
.button-1
{
    display: block;
    width: 120px;
    height: 50px;
    background: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius:  3px;
}
.button-1:hover
{
    background: #02b8dd;
}

#steps ul{
    margin: 80px 0;
}
#steps ul li{
    width: 300px;
    float: left;
    padding-top: 140px;
    text-align: center;
    margin-right: 10px;   
}
#steps h4{
    text-transform: uppercase;
    margin-bottom: 20px;
}
#steps p{
    margin-bottom: 20px;
}
#step-1{
    background: url('images/steps-icon-1.png') no-repeat top center;
}
#step-2{
    background: url('images/steps-icon-2.png') no-repeat top center;
}
#step-3{
    background: url('images/steps-icon-3.png') no-repeat top center;
}

#possibilities{
    background-color: #efefef;
    padding: 60px 0;
}
#possibilities article{
    width: 460px;
    height: 270px;
    float: left;
    border-radius: 10px;
}
#possibilities article:first-child{
    margin-right: 20px;
}
.overlay{
    background: rgba(255, 255, 250, 0.95);
    height: 100%;
    width: 190px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    text-align: center;
}
#possibility-1{
    background-image: url(images/article-image-1.jpg)
    
}
#possibility-2{
    background-image: url(images/article-image-2.jpg)
    
}
article h4{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
#possibilities p{
    text-align: center;
    margin-bottom: 20px;
    
}
.button-2{
    color: #fff;
    background-color: #ff7a00;
    padding: 6px 20px;
    border-radius: 3px;
}
.button-2:hover{
    color:#fff;
    background-color: #02b8dd;
}

#contact{
    padding: 60px 0;
    text-align: center;
}
#contact h3{
    width: 400px;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #02b8dd;
    padding-bottom: 20px;
}
form{
    margin: 60px 0 20px 0;
}
label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color:#777;
}
input[type="text"]{
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;
}
.button-3{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: #02b8dd;
    border-style: none;
    border-radius: 3px;
    
}
.button-3:hover{
    color: #fff;
    background-color: #444;
}
footer{
    height: 260px;
    background-color: #444;
}
footer h1{
    color: #fff;
    text-align: center;
    padding-top: 80px;
    
}
.copyright{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
}
*/
/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial,sans-serif;
    font-size: 15px;
}

h1, h2, h3, h4 {
    color: #444;
}

h1 {
    font-family: 'Crete Round', serif;
    font-size: 45px;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

p {
    line-height: 20px;
    color: #777;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.orange {
    color: #ff7a00;
}

.clear {
    clear: both;
}

small {
    font-size: 13px;
    font-style: italic;
}

/* HEADER */

header {
    height: 120px;
}

    header h1 {
        float: left;
        margin-top: 32px;
    }

    header nav {
        float: right;
        margin-top: 50px;
    }

        header nav ul li {
            float: left;
            display: inline-block;
        }

            header nav ul li a {
                text-transform: uppercase;
                font-weight: bold;
                margin-right: 20px;
            }

/* MAIN IMAGE */

#main-image {
    height: 580px;
    background: url(../../images/main.jpg) center;
}

#main-image h2 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
}

.button-1 {
    display: block;
    width: 120px;
    height: 50px;
    background: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}

.button-1:hover {
    background: #02b8dd;
}

/*Steps*/
#steps ul {
    margin: 80px 0;
}

#steps ul li {
    width: 300px;
    float: left;
    padding-top: 140px;
    text-align: center;
    margin-right: 10px;
}

#steps h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#steps p {
    margin-bottom: 20px;
}

#step-1 {
    background: url(../../images/steps-icon-1.png) no-repeat top center;
}

#step-2 {
    background: url(../../images/steps-icon-2.png) no-repeat top center;
}

#step-3 {
    background: url(../../images/steps-icon-3.png) no-repeat top center;
}
/*Possibilities*/

#possibilities {
    background-color: #efefef;
    padding: 60px 0;
}

    #possibilities article {
        width: 460px;
        height: 270px;
        float: left;
        border-radius: 10px;
    }

        #possibilities article:first-child {
            margin-right: 20px;
        }

.overlay {
    background: rgba(255, 255, 250, 0.95);
    height: 100%;
    width: 190px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    text-align: center;
}

#possibility-1 {
    background-image: url(../../images/article-image-1.jpg)
}

#possibility-2 {
    background-image: url(../../images/article-image-2.jpg)
}

article h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

#possibilities p {
    text-align: center;
    margin-bottom: 20px;
}

.button-2 {
    color: #fff;
    background-color: #ff7a00;
    padding: 6px 20px;
    border-radius: 3px;
}

    .button-2:hover {
        color: #fff;
        background-color: #02b8dd;
    }
/*Contact*/

#contact {
    padding: 60px 0;
    text-align: center;
}

    #contact h3 {
        width: 400px;
        text-transform: uppercase;
        margin: 0 auto 20px auto;
        border-bottom: 1px solid #02b8dd;
        padding-bottom: 20px;
    }

form {
    margin: 60px 0 20px 0;
}

label {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777;
}

input[type="text"] {
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;
}

.button-3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: #02b8dd;
    border-style: none;
    border-radius: 3px;
}

    .button-3:hover {
        color: #fff;
        background-color: #444;
    }
/*Footer*/
footer {
    height: 260px;
    background-color: #444;
}

    footer h1 {
        color: #fff;
        text-align: center;
        padding-top: 80px;
    }

.copyright {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777;
}
/*******************************************/
.item .btn {
    font-size: 13px;
}

.item-image {
    max-height: 150px;
    padding: 5px 0px;
    height: 140px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.items {
    margin: 20px 0px;
}

.item {
    min-height: 240px;
    max-height: 260px;
    max-width: 250px;
    margin: 10px auto;
    padding: 10px 10px;
    border-radius: 4px;
    border: 1px solid #f3f3f3;
    box-shadow: inset 0px 0px 1px #ddd;
    -webkit-transition: box-shadow 1s ease;
    -moz-transition: box-shadow 1s ease;
    -o-transition: box-shadow 1s ease;
    transition: box-shadow 1s ease;
}

    .item hr {
        margin: 5px 0px;
    }

    .item h6 {
        padding-top: 5px;
        text-align: center;
    }

        .item h6 a {
            color: #0d10ce;
        }

            .item h6 a:hover {
                text-decoration: none;
            }

    .item p {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
        
        text-align: center;
    }

    .item .item-location {
        margin: 7px 0px;
        display: inline-block;
        padding: 2px 5px;
        line-height: 20px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        background: #f3f3f3;
        border: 1px solid #eee
    }
