

@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<!--

<div class="text-center">
    <h1 ViewData["Title"] = "Home page";class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">buil²ding Web apps with ASP.NET Core</a>.</p>
</div>
    -->


<section id="main-image">
    <div class="wrapper">
        <h2>Travel Around Tunisia<br><strong>Discover The World</strong></h2>
       
    </div>

</section>


